db.php
/database/
/mu-plugins/
/uploads/
/vendor/
/build
/wp-content/languages/
/wp-content/plugins/
/wp-content/uploads/
/wp-content/index.php
/wp-admin/
/wp-includes/
wp-config.php
wp-config-sample.php
wp-load.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
wp-upgrade.php
xmlrpc.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-comments.php
wp-cron.php
!/wp-content/themes/.gitignore

*.tar
*.tar.gz
.tmp
